.link {
  color: var(--title-text-collor);
  text-decoration: none;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: var(--standart-go-over);
  &:hover,
  &:focus {
    color: var(--accent-color);
    outline-color: var(--accent-color);
    fill: var(--accent-color);    
  }
  &--gmaps {
    color: var(--accent-wht-collor);
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;

    &:hover,
    &:focus {
      color: var(--accent-wht-collor);
    }
  }

  &--adr {
    color: var(--accent-footer-color);
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;    
  }
}
