.sort-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 40px;

  @include mq(mob) {
    & {
      justify-content: flex-start;
    }
  }
  @include mq(tab) {
    & {
      justify-content: center;
    }
  }
}
