.header {
  @include mq(mob-only) {
    &__section {
      display: none;
    }
  }
  &__mob {
    min-height: 60px;
    display: flex;
    align-items: center;

    border-bottom: 1px solid #ececec;
  }
}
