.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
  letter-spacing: 0.06em;

  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/header-bg_sm.png);
  padding: 118px 0;

  @include mq(mob) {
    max-height: 400px;
    min-width: 320px;
    max-width: 480px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/header-bg_sm.png);
    @include mq(retina) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/header-bg_sm@2x.png);
    }
  }
  @include mq(tab) {
    max-width: 768px;
    max-height: 400px;

    background-size: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/header-bg_md.png);
    @include mq(retina) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/header-bg_md@2x.png);
    }
  }
  @include mq(desk) {
    max-width: 1600px;
    max-height: 600px;
    padding: 200px 0;

    background-size: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/header-bg_lg.png);
    @include mq(retina) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/header-bg_lg@2x.png);
    }
  }
}
.hero__title {
  color: var(--accent-wht-collor);

  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-transform: uppercase;

  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  @include mq(desk) {
    font-size: 44px;
    line-height: calc(60 / 44);

    max-width: 670px;
    margin-bottom: 30px;
  }
}
