.hero {
  height: 400px;
  max-width: 480px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/no-content/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
  letter-spacing: 0.06em;

  padding: 118px 0;
  margin: 0 auto;
}
.hero__title {
  color: var(--accent-wht-collor);

  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-transform: uppercase;

  width: 380px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
