.work {
  &__title {
    color: var(--title-text-collor);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  &__item {
    position: relative;
  }
  &__text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;

    background-color: rgba(47, 48, 58, 0.8);

    line-height: calc(16 / 14);
    text-align: center;
    text-transform: uppercase;

    color: var(--accent-wht-collor);
  }
}
